--index-url https://<username>:<password>@artifactory.fmr.com/artifactory/api/pypi/
--extra-index-url https://pypi.org/simple

pandas>=1.5.0
numpy>=1.21.0
openpyxl>=3.0.0
plotly>=5.0.0


###
py -m ensurepip –upgrade
pip install --upgrade pip
pip install pandas --index https://artifactory.fmr.com/api/pypi/pypi-releases/simple
pip install numpy --index https://artifactory.fmr.com/api/pypi/pypi-releases/simple
pip install plotly --index https://artifactory.fmr.com/api/pypi/pypi-releases/simple
###
